<div class="grid_100 left c1">

<div class="grid_100 left pad_left_2">
<h4>Library Editor</h4>
</div>

<div class="grid_100 b1"></div>

<div class="grid_100 left pad_left_2">
  <h4>Edit: <%= @library.branch_name %></h4>
</div>

<div class="grid_45 left pad_bottom pad_left">

<div id="form_container">
  <form action="/libraries/<%= @library.id %>" method="post">
    <ul>
      <li><label>Name</label>
      <input type="text" name="branch_name" value="<%= @library.branch_name %>"></br></li>

      <li><label>Address</label>
      <input type="text", name="address" value="<%= @library.address %>"></br></li>

      <li><label>Phone Number</label>
      <input type="text", name="phone_number" value="<%= @library.phone_number %>"></br></li>

      <input type="submit" value="Edit Library">
    </ul>
  </form>
</div>
</div>

<div class="grid_45 left pad_left_2 pad_right_2">

  <div class="grid_45 left  pad_left_2 pad_right_2">


    <h4>Menu Options</h4>

    <p><a href="/libraries/new">New Library</a></p>

    <p><a href="/libraries">Back to Libraries Index</a></p>

    <p><a href="/">Back to Homepage</a></p>

  </div>

</div>

</div>

<div class="grid_100 left">
  <div class="center_text pad_all">
    <h1>"I never feel lonely if I've got a book - they're like old friends. Even if you're not reading them over and over again, you know they are there. And they're part of your history. They sort of tell a story about your journey through life."</h1>
  <p class="albert_quote">Emilia Fox</p>
  </div>
</div>
