<div class="grid_100 left c1">

<div class="grid_100 left pad_left_2">
<h4>Library Editor</h4>
</div>

<div class="grid_100 b1"></div>

<div class="grid_100 left pad_left_2">
  <h4>Edit: <%= @library.branch_name %></h4>
</div>

<div class="grid_45 left pad_bottom pad_left">

<div id="form_container">
  <ul>
    <form action="/libraries/<%= @library.id %>" method="post">

      <li><label>Name</label>
      <input type="text" name="branch_name" value="<%= @library.branch_name %>"></br></li>

        <li><label>Address</label>
        <input type="text", name="address" value="<%= @library.address %>"></br></li>

        <label>Phone Number</label>
        <input type="text", name="phone_number" value="<%= @library.phone_number %>"></br></li>

        <input type="submit" value="Edit Library">
    </ul>
 </form>
</div>
</div>

<div class="grid_45 left pad_left_2 pad_right_2">

  <div class="grid_45 left  pad_left_2 pad_right_2">


    <h4>Menu Options</h4>

    <p class="p_blue"><a href="/libraries/:id">Show Libraries</a></p>

    <p class="p_blue"><a href="/libraries/:id/edit">Edit Libraries</a></p>

    <p><a href="/libraries/new">New Library</a></p>

    <p><a href="/">Back to Homepage</a></p>

  </div>

</div>

</div>
